<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="blogsystem.mapper.ArticleTypeMapper">
    <select id="getAll" resultType="blogsystem.dto.ArticleTypeDTO">
        SELECT
            at.article_type_id,
            at.article_type_sort,
            at.article_type_name,
            COUNT(article.article_id) AS article_num,
            at.article_type_add_time
        FROM
            article_type at
        LEFT JOIN
            article ON at.article_type_id = article.article_type_id
        GROUP BY
            at.article_type_id
        ORDER BY
            at.article_type_sort;
    </select>
</mapper>