<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="blogsystem.mapper.ArticleMapper">
    <select id="getArticleList" resultType="blogsystem.dto.ArticleDTO">
        SELECT
            a.article_id AS articleId,
            at.article_type_name AS articleTypeName,
            u.user_name AS userName,
            a.article_title AS articleTitle,
            a.article_look_number AS articleLookNumber,
            a.article_good_number AS articleGoodNumber,
            a.article_collection_number AS articleCollectionNumber,
            a.article_add_time AS articleAddTime,
            a.article_content AS articleContent
        FROM
            article a
                LEFT JOIN article_type at ON a.article_type_id = at.article_type_id
            LEFT JOIN user u ON a.user_id = u.user_id
        WHERE
            (#{articleDto.userName} IS NULL OR u.user_name LIKE CONCAT('%', #{articleDto.userName}, '%'))
          AND (#{articleDto.articleTitle} IS NULL OR a.article_title LIKE CONCAT('%', #{articleDto.articleTitle}, '%'))
        ORDER BY
            a.article_add_time DESC
    </select>

    <select id="selectByIdsWithOrder" resultType="blogsystem.entity.Article">
        SELECT * FROM article
        WHERE article_id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        ORDER BY FIELD(article_id,
        <foreach collection="ids" item="id" separator="," close="">
            #{id}
        </foreach>
        )
    </select>
</mapper>
